# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 Some of the popular languages that Data Scientists use are
 1. Python
 2. R
 3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This is a simple arithmetic expression to mutipy then add integers 
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objetives:**
- List Popular languages for Data Science
- List Popular tools for Data Science
- List Pupular libraries for Data Science
- Arithmetic Expression

## Author
Luis Pati√±o